services:
  app-blue:
    image: hashicorp/http-echo:1.0.0
    command: ["-text=blue", "-listen=:5678"]

  app-green:
    image: hashicorp/http-echo:1.0.0
    command: ["-text=green", "-listen=:5678"]

  proxy:
    image: nginx:1.27-alpine
    ports:
      - "8087:80"
    volumes:
      - ./proxy/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app-blue
      - app-green
