apiVersion: v1
kind: Config
clusters:
- name: kubeadm-2nodes
  cluster:
    server: https://CONTROL_PLANE_IP:6443
    certificate-authority-data: BASE64_CA_DATA
contexts:
- name: kubeadm-2nodes-admin
  context:
    cluster: kubeadm-2nodes
    user: admin
current-context: kubeadm-2nodes-admin
users:
- name: admin
  user:
    client-certificate-data: BASE64_CLIENT_CERT
    client-key-data: BASE64_CLIENT_KEY
