apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-demo
  namespace: lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-demo
  template:
    metadata:
      labels:
        app: config-demo
    spec:
      containers:
      - name: app
        image: nginxinc/nginx-unprivileged:1.27-alpine
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: app-config-lab
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
