apiVersion: apps/v1
kind: Deployment
metadata:
  name: affinity-demo
  namespace: lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: affinity-demo
  template:
    metadata:
      labels:
        app: affinity-demo
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                - lab-a
      containers:
      - name: app
        image: nginx:1.27-alpine
        ports:
        - containerPort: 80
