services:
  edge:
    image: nginx:1.27-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8082:80"
    depends_on:
      - api
    networks:
      - frontend

  api:
    image: hashicorp/http-echo:1.0.0
    command: ["-text=api ok", "-listen=:5678"]
    expose:
      - "5678"
    networks:
      - frontend
      - backend

  db:
    image: redis:7-alpine
    expose:
      - "6379"
    networks:
      - backend

  toolbox:
    image: alpine:3.20
    command: ["sh", "-c", "sleep infinity"]
    networks:
      - frontend
      - backend

networks:
  frontend:
  backend:
