apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: stateful-demo
  namespace: lab
spec:
  serviceName: stateful-demo-headless
  replicas: 1
  selector:
    matchLabels:
      app: stateful-demo
  template:
    metadata:
      labels:
        app: stateful-demo
    spec:
      containers:
      - name: app
        image: busybox:1.36
        command: ["sh", "-c", "while true; do date >> /data/time.log; sleep 5; done"]
        volumeMounts:
        - name: data
          mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
